## Challenge 2: Sets

There are a lot to learn about Python Sets and the information presented in the lesson is limited due to its length. To learn Python Sets in depth you are strongly encouraged to review the W3Schools tutorial on [Python Sets Examples and Methods](https://www.w3schools.com/python/python_sets.asp) before you work on this lab. Some difficult questions in this lab have their solutions in the W3Schools tutorial.

#### First, import the Python `random` libary

In [4]:
import random

#### In the cell below, create a list named `sample_list_1` with 80 random values. 

Requirements:

* Each value is an integer falling between 0 and 100.
* Each value in the list is unique.

Print `sample_list_1` to review its values

*Hint: use `random.sample` ([reference](https://docs.python.org/3/library/random.html#random.sample)).*

In [16]:
# Your code here
a=random.sample(range(100),k=80)
sample_list_1=a
print(sample_list_1)

[33, 40, 32, 71, 61, 60, 2, 65, 85, 25, 3, 79, 13, 45, 55, 4, 78, 20, 16, 96, 81, 9, 37, 64, 77, 19, 27, 30, 49, 11, 7, 46, 62, 58, 28, 90, 43, 89, 10, 93, 29, 82, 52, 57, 97, 47, 51, 95, 83, 88, 44, 56, 35, 31, 69, 50, 99, 91, 26, 36, 8, 24, 17, 15, 70, 12, 86, 21, 66, 41, 54, 18, 14, 59, 0, 39, 22, 72, 98, 34]

#### Convert `sample_list_1` to a set called `set1`. Print the length of the set. Is its length still 80?

In [24]:
# Your code here
set1=set(sample_list_1)
len(set1)
#Yes, same lenght

80

#### Create another list named `sample_list_2` with 80 random values.

Requirements:

* Each value is an integer falling between 0 and 100.
* The values in the list don't have to be unique.

*Hint: Use a FOR loop.*

In [37]:
# Your code here

for i in range(100):
    sample_list_2=random.sample(range(80),k=80)
print(sample_list_2)

[51, 6, 38, 37, 56, 7, 42, 16, 75, 36, 47, 72, 19, 29, 0, 44, 5, 64, 1, 71, 24, 46, 39, 20, 17, 74, 60, 14, 4, 54, 58, 23, 65, 12, 49, 32, 53, 35, 45, 22, 28, 66, 43, 76, 52, 26, 34, 48, 9, 78, 8, 57, 2, 62, 77, 68, 30, 25, 79, 40, 33, 10, 61, 73, 59, 69, 41, 31, 50, 18, 55, 13, 67, 21, 27, 70, 3, 63, 11, 15]

#### Convert `sample_list_2` to a set called `set2`. Print the length of the set. Is its length still 80?

In [38]:
# Your code here
set2=set(sample_list_2)
len(set2)
#Yes, same lenght

80

#### Identify the elements present in `set1` but not in `set2`. Assign the elements to a new set named `set3`.

In [43]:
# Your code here
lista_set3=[]
for i in set1:
    if i in set2:
        ""
    else:
        lista_set3.append(i)
set3=set(lista_set3)
print(set3)

{96, 97, 98, 99, 81, 82, 83, 85, 86, 88, 89, 90, 91, 93, 95}

#### Identify the elements present in `set2` but not in `set1`. Assign the elements to a new set named `set4`.

In [44]:
# Your code here
lista_set4=[]
for i in set2:
    if i in set1:
        ""
    else:
        lista_set4.append(i)
set4=set(lista_set4)
print(set4)

{1, 67, 68, 5, 38, 6, 73, 42, 74, 75, 76, 48, 53, 23, 63}

#### Now Identify the elements shared between `set1` and `set2`. Assign the elements to a new set named `set5`.

In [47]:
# Your code here
set5=set1.intersection(set2)
print(set5)

{0, 2, 3, 4, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 39, 40, 41, 43, 44, 45, 46, 47, 49, 50, 51, 52, 54, 55, 56, 57, 58, 59, 60, 61, 62, 64, 65, 66, 69, 70, 71, 72, 77, 78, 79}

#### What is the relationship among the following values:

* len(set1)
* len(set2)
* len(set3)
* len(set4)
* len(set5)

Use a math formular to represent that relationship. Test your formular with Python code.

In [ ]:
# Your code here

#### Create an empty set called `set6`.

In [49]:
# Your code here
set6={}

#### Add `set3` and `set5` to `set6` using the Python Set `update` method.

In [57]:
# Your code here
set6.update(set3)
set6.update(set5)
print(set6)

TypeError: cannot convert dictionary update sequence element #0 to a sequence

#### Check if `set1` and `set6` are equal.

In [60]:
# Your code here
if set1==set6:
    print("Set 1 and Set 6 are equal")
else:
    print("Set 1 and Set 6 are not equal")

Set 1 and Set 6 are not equal

#### Check if `set1` contains `set2` using the Python Set `issubset` method. Then check if `set1` contains `set3`.*

In [58]:
# Your code here
if set2.issubset(set1)==True:
    print("Set1 contains set2")
else:
    print("Set1 does not contain set2")

if set1.issubset(set2)==True:
    print("Set2 contains set1")
else:
    print("Set2 does not contain set1")

Set1 does not contain set2
Set2 does not contain set1

#### Using the Python Set `union` method, aggregate `set3`, `set4`, and `set5`. Then aggregate `set1` and `set2`. 

#### Check if the aggregated values are equal.

In [61]:
# Your code here
set3.union(set4)
set3.union(set5)
set1.union(set2)

if set3==set1:
    print("Values are equal")
else:
    print("Values are not equal")

Values are equal

#### Using the `pop` method, remove the first element from `set1`.

In [ ]:
# Your code here
set1[0].pop()

#### Remove every element in the following list from `set1` if they are present in the set. Print the remaining elements.

```
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
```

In [ ]:
# Your code here
list_to_remove = [1, 9, 11, 19, 21, 29, 31, 39, 41, 49, 51, 59, 61, 69, 71, 79, 81, 89, 91, 99]
set_to_remove=set(list_to_remove)
set_to_remove.remove(set1)