# Before your start:
- Read the README.md file
- Comment as much as you can and use the resources (README.md file)
- Happy learning!

In [1]:
import numpy as np
import pandas as pd

# Challenge 1 - Exploring the Data

In this challenge, we will examine all salaries of employees of the City of Chicago. We will start by loading the dataset and examining its contents

In [2]:
# Run this code:

salaries = pd.read_csv('../Current_Employee_Names__Salaries__and_Position_Titles.csv')

Examine the `salaries` dataset using the `head` function below.

In [3]:
# Your code here:
df = pd.DataFrame(salaries)
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

We see from looking at the `head` function that there is quite a bit of missing data. Let's examine how much missing data is in each column. Produce this output in the cell below

In [6]:
percent_missing = df.isnull().sum() * 100 / len(df)
missing_value_df = pd.DataFrame({'column_name': df.columns,'percent_missing': percent_missing})
missing_value_df

                         column_name  percent_missing
Name                            Name         0.000000
Job Titles                Job Titles         0.000000
Department                Department         0.000000
Full or Part-Time  Full or Part-Time         0.000000
Salary or Hourly    Salary or Hourly         0.000000
Typical Hours          Typical Hours        75.824971
Annual Salary          Annual Salary        24.175029
Hourly Rate              Hourly Rate        75.824971

Let's also look at the count of hourly vs. salaried employees. Write the code in the cell below

In [8]:
df["Salary or Hourly"].value_counts()

Salary    25161
Hourly     8022
Name: Salary or Hourly, dtype: int64

What this information indicates is that the table contains information about two types of employees - salaried and hourly. Some columns apply only to one type of employee while other columns only apply to another kind. This is why there are so many missing values. Therefore, we will not do anything to handle the missing values.

There are different departments in the city. List all departments and the count of employees in each department.

In [9]:
df["Department"].value_counts()

POLICE                   13414
FIRE                      4641
STREETS & SAN             2198
OEMC                      2102
WATER MGMNT               1879
AVIATION                  1629
TRANSPORTN                1140
PUBLIC LIBRARY            1015
GENERAL SERVICES           980
FAMILY & SUPPORT           615
FINANCE                    560
HEALTH                     488
CITY COUNCIL               411
LAW                        407
BUILDINGS                  269
COMMUNITY DEVELOPMENT      207
BUSINESS AFFAIRS           171
COPA                       116
BOARD OF ELECTION          107
DoIT                        99
PROCUREMENT                 92
INSPECTOR GEN               87
MAYOR'S OFFICE              85
CITY CLERK                  84
ANIMAL CONTRL               81
HUMAN RESOURCES             79
CULTURAL AFFAIRS            65
BUDGET & MGMT               46
ADMIN HEARNG                39
DISABILITIES                28
TREASURER                   22
HUMAN RELATIONS             16
BOARD OF ETHICS              8
POLICE BOARD                 2
LICENSE APPL COMM            1
Name: Department, dtype: int64

# Challenge 2 - Hypothesis Tests

In this section of the lab, we will test whether the hourly wage of all hourly workers is significantly different from $30/hr. Import the correct one sample test function from scipy and perform the hypothesis test for a 95% two sided confidence interval.

In [24]:
nuevod=salaries[salaries["Hourly Rate"].notnull()]
nuevod["Hourly Rate"]

4        19.86
6        46.10
7        35.60
10        2.65
18       17.68
         ...
33164    46.10
33168    17.68
33169    35.60
33174    46.35
33175    48.85
Name: Hourly Rate, Length: 8022, dtype: float64

In [25]:
from scipy import stats

checkPValue = lambda p,threshold=0.05: "--> Null(H0) hypotesis rejected" if p < threshold else "--> We cannot reject the null hypotesis"

hourly = stats.ttest_1samp(nuevod["Hourly Rate"],30)
print(hourly)
print(checkPValue(hourly.pvalue))

Ttest_1sampResult(statistic=20.6198057854942, pvalue=4.3230240486229894e-92)
--> Null(H0) hypotesis rejected

We are also curious about salaries in the police force. The chief of police in Chicago claimed in a press briefing that salaries this year are higher than last year's mean of $86000/year a year for all salaried employees. Test this one sided hypothesis using a 95% confidence interval.

Hint: A one tailed test has a p-value that is half of the two tailed p-value. If our hypothesis is greater than, then to reject, the test statistic must also be positive.

In [40]:
#Department["Police"] ["Annual Salary"]
police = salaries["Annual Salary"].loc[salaries["Department"]=="POLICE"]
police

0        101442.0
1         94122.0
9         93354.0
11        84054.0
12        87006.0
           ...
33177     72510.0
33178     72510.0
33179     48078.0
33180     90024.0
33181     93354.0
Name: Annual Salary, Length: 13414, dtype: float64

In [39]:
annual = stats.ttest_1samp(police.notnull(),86000)
print(annual)
print(checkPValue(annual.pvalue))

Ttest_1sampResult(statistic=-364919826.5437878, pvalue=0.0)
--> Null(H0) hypotesis rejected

Using the `crosstab` function, find the department that has the most hourly workers.

In [44]:
pd.crosstab(salaries["Hourly Rate"],salaries["Department"])

Department,ANIMAL CONTRL,AVIATION,BUDGET & MGMT,BUSINESS AFFAIRS,CITY COUNCIL,COMMUNITY DEVELOPMENT,CULTURAL AFFAIRS,FAMILY & SUPPORT,FINANCE,FIRE,...,HUMAN RESOURCES,LAW,MAYOR'S OFFICE,OEMC,POLICE,PROCUREMENT,PUBLIC LIBRARY,STREETS & SAN,TRANSPORTN,WATER MGMNT
Hourly Rate,,,,,,,,,,,,,,,,,,,,,
2.65,0,0,0,0,0,0,0,206,0,0,...,0,0,0,0,0,0,0,0,0,0
8.25,0,0,0,0,0,0,0,25,0,0,...,0,0,0,0,0,0,0,0,0,0
9.27,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,4,0,0,0,0,0
9.46,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,6,0,0,0,0,0
9.50,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
53.10,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,3,2,4
53.90,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,11,0
57.95,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
78.91,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
109.00,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

The workers from the department with the most hourly workers have complained that their hourly wage is less than $35/hour. Using a one sample t-test, test this one-sided hypothesis at the 95% confidence level.

In [10]:
# Your code here:

# Challenge 3 - Constructing Confidence Intervals

While testing our hypothesis is a great way to gather empirical evidence for accepting or rejecting the hypothesis, another way to gather evidence is by creating a confidence interval. A confidence interval gives us information about the true mean of the population. So for a 95% confidence interval, we are 95% sure that the mean of the population is within the confidence interval. 
).

To read more about confidence intervals, click [here](https://en.wikipedia.org/wiki/Confidence_interval).


In the cell below, we will construct a 95% confidence interval for the mean hourly wage of all hourly workers. 

The confidence interval is computed in SciPy using the `t.interval` function. You can read more about this function [here](https://docs.scipy.org/doc/scipy-0.14.0/reference/generated/scipy.stats.t.html).

To compute the confidence interval of the hourly wage, use the 0.95 for the confidence level, number of rows - 1 for degrees of freedom, the mean of the sample for the location parameter and the standard error for the scale. The standard error can be computed using [this](https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.sem.html) function in SciPy.

In [45]:
df.head()

,Name,Job Titles,Department,Full or Part-Time,Salary or Hourly,Typical Hours,Annual Salary,Hourly Rate
0,"AARON, JEFFERY M",SERGEANT,POLICE,F,Salary,NaN,101442.0,NaN
1,"AARON, KARINA",POLICE OFFICER (ASSIGNED AS DETECTIVE),POLICE,F,Salary,NaN,94122.0,NaN
2,"AARON, KIMBERLEI R",CHIEF CONTRACT EXPEDITER,GENERAL SERVICES,F,Salary,NaN,101592.0,NaN
3,"ABAD JR, VICENTE M",CIVIL ENGINEER IV,WATER MGMNT,F,Salary,NaN,110064.0,NaN
4,"ABASCAL, REECE E",TRAFFIC CONTROL AIDE-HOURLY,OEMC,P,Hourly,20.0,NaN,19.86

In [63]:
import scipy.stats as st
alpha=0.95
df=salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"]

st.t.interval(alpha, len(df)-1, loc=np.mean(df), scale=st.sem(df))

(32.52345834488425, 33.05365708767623)

Now construct the 95% confidence interval for all salaried employeed in the police in the cell below.

In [47]:
import scipy.stats as st
alpha=0.95
df=salaries[salaries["Hourly Rate"].notnull()]["Hourly Rate"]

st.t.interval(alpha, len(df)-1, loc=np.mean(df), scale=st.sem(df))


police = salaries["Hourly Rate"].loc[salaries["Department"]=="POLICE"]

In [74]:
a=salaries[salaries["Department"]=="POLICE"]
df = a[a["Salary or Hourly"]=="Salary"]["Annual Salary"]
st.t.interval(alpha, len(df)-1, loc=np.mean(df), scale=st.sem(df))

(86177.05631531784, 86795.77269094894)

# Challenge 4 - Hypothesis Tests of Proportions

Another type of one sample test is a hypothesis test of proportions. In this test, we examine whether the proportion of a group in our sample is significantly different than a fraction. 

You can read more about one sample proportion tests [here](http://sphweb.bumc.bu.edu/otlt/MPH-Modules/BS/SAS/SAS6-CategoricalData/SAS6-CategoricalData2.html).

In the cell below, use the `proportions_ztest` function from `statsmodels` to perform a hypothesis test that will determine whether the number of hourly workers in the City of Chicago is significantly different from 25% at the 95% confidence level.

In [76]:

from statsmodels.stats.proportion import proportions_ztest
nobs = len(salaries["Salary or Hourly"])
count =  len(salaries[salaries["Salary or Hourly"]=="Hourly"]["Salary or Hourly"])
value=0.25
stat, pval = proportions_ztest(count, nobs, value)
print(pval)

0.0004481127249057967